.items {
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 40%;
    margin: auto;
}

.item {
    padding: 5px;
    width: 10%;
}

.button {
    display: inline;
}

@media screen and (max-width: 400px) {
    .items {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .items {
        width: 70%;
    }
}