.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    font-size: 24px;
    text-align: center;
}

.time {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #61dafb;
    background: #0f3854;
    letter-spacing: 0.1em;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.date {
    display: block;
    justify-content: center;
    width: 200px;
    letter-spacing: 0.1em;
    color: #61dafb;
    background: #0f3854;
}
