.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}

.text {
    width: 200px;
    margin: 4px 4px 4px 70px;
    padding: 5px;
    position: relative;
    text-align: center;
    background-color: #282c34;
    color: white;
    border-radius: 7px;
}

.text::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0px;
    border: 15px solid transparent;
    border-right: 15px solid #282c34;
    border-bottom: 15px solid #282c34;
}

.avatar {
    position: relative;
}

.avatar img {
    position: absolute;
    bottom: 0;
    margin: 5px;
    width: 50px;
    border-radius: 50%;
}

.name {
    color: blueviolet;
    text-align: left;
}

.time {
    color: green;
    text-align: end;
}
