.button {
    margin: 5px;
    width: 55px;
    background-color: #385d8c;
    color: #a2e0fd;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    color: #99ffff;
}

.button:focus {
    outline: #a2e0fd solid 1px;
    border-color: #385d8c;
}

.active {
    color: #385d8c;
    background-color: #829acb;
}

.content {
    display: grid;
    max-width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 3px;
    grid-template-areas:
    'name priority buttonX'
    'name priority buttonX'
    'name priority buttonX'
    'name priority buttonX'
    'name priority buttonX';
    align-items: start;
    grid-gap: 5px 5px;
    justify-content: space-between;
    font-weight: bold;
}

.item {
    margin-left: 10px;
}

.buttonX {
    width: 30px;
    height: 20px;
    margin: 5px;
    background-color: #61dafb;
    color: #fd0000;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.buttonX:hover {
    transform: scale(1.1);
    color: #99ffff;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}