.button {
    margin: 5px;
    width: 55px;
    background-color: #385d8c;
    color: #a2e0fd;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    color: #99ffff;
}

.button:focus {
    outline: #a2e0fd solid 1px;
    border-color: #385d8c;
}

.active {
    color: #385d8c;
    background-color: #829acb;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.item {
    width: calc(25% / 3);
}

.buttonX {
    width: 30px;
    height: 20px;
    margin: 5px;
    background-color: #61dafb;
    color: #fd0000;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.buttonX:hover {
    transform: scale(1.1);
    color: #99ffff;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}

@media screen and (max-width: 485px) {
    .item {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .item {
        width: calc(40% / 3);
    }
}

@media screen and (max-width: 1024px) {
    .item {
        width: calc(50% / 3);
    }
}