.superInput {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
    font-weight: bold;
}