.default {
    margin: 0.5rem;
    width: 5rem;
    background-color: #385d8c;
    color: #a2e0fd;
    border-radius: 5px;
    cursor: pointer;
}

.default:hover {
    transform: scale(1.1);
    color: #99ffff;
    font-weight: bold;
}

.default:focus {
    outline: #a2e0fd solid 1px;
    border-color: #385d8c;
}

.default:active {
    background-color: #a2e0fd;
    color: #385d8c;
}

.default:disabled {
    color: #99a3a9;
    transform: scale(1.0);
    font-weight: unset;
    cursor: auto;
}

.red {
    background: red;
    color: #fccccc;
    margin: 5px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.red:hover {
    transform: scale(1.1);
    color: #941a29;
    font-weight: bold;
}

.red:focus {
    outline: #fccccc solid 1px;
    border-color: #ff5454;
}

.red:active {
    background-color: #fccccc;
    color: red;
}